.contrast-arc-blue {
    position: absolute;
    top: 750px;
    width: 100vw;
    max-width: 100%;
    height: 1078px;
    z-index: 3;
}

.contact-btn-landingpage {
    position: absolute;
    top: 730px;
    left: 68%;
    z-index: 5;
}

.main-img {
    display: block;
    width: 50vw;
}