



.contact-btn-landingpage {
    position: absolute;
    top: 730px;
    left: 68%;
    z-index: 10;
}

.main-img {
    display: block;
    width: 50vw;
}



//<---------------------------------------------------- media queries ------------------------------------------------------>

@media (max-width: 900px){
    .landingpage-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-img {
        width: 100vw;
        max-width: 100%;
    }

    .name-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contrast-arc-blue {
        object-fit: contain;
        top: 0px;
    }

    .contact-btn-landingpage {
        top: auto;
        bottom: 10px;
        left: auto;
    }
}