<div class="landingpage-content">
    <div class="title">
        <div class="rotated-text">
            I am
        </div>
        <div class="title-straight-text">
            <span class="name-text">
                Leonhard Albert
            </span>
            <span class="dev-text">
                FRONTEND DEVELOPER
            </span>
        </div>
    </div>

    <div class="scroll-down-container">
        <div class="scroll-down-text">
            Scroll down
        </div>
        <img src="../../assets/img/icons_buttons/arrow-down.png" alt="">
    </div>

    <div class="main-img-of-me-container">
        <img class="me-img" src="../../assets/img/leoalbert/main-img-of-me.png" alt="">
        <img class="me-img-background" src="../../assets/img/background-design-elements/main-img-background.png" alt="">
    </div>

    <div class="references">
        <img src="../../assets/img/background-design-elements/references-line.png" alt="">

        <img class="ref-btn" src="../../assets/img/icons_buttons/github-btn.png" alt="">
        <img class="ref-btn" src="../../assets/img/icons_buttons/email-btn.png" alt="">
        <img class="ref-btn" src="../../assets/img/icons_buttons/linkedin-btn.png" alt="">

        <a href="#">leo.albert.96@web.de</a>
    </div>
</div>

<img class="contrast-arc-blue" src="../../assets/img/background-design-elements/contrast-arc-blue.png" alt="">