<div class="references">
    <img src="assets/img/background-design-elements/references-line.png" alt="">

    <a href="https://github.com/Hellsticks96" target="_blank"><img class="ref-btn" src="assets/img/icons_buttons/github-btn.png" alt=""></a>
    <a href="mailto: leo.albert.96@web.de"><img class="ref-btn" src="assets/img/icons_buttons/email-btn.png" alt=""></a>
    <a href="https://www.linkedin.com/in/leonhard-albert-672690214/" target="_blank"><img class="ref-btn" src="assets/img/icons_buttons/linkedin-btn.png" alt=""></a>

    <a href="mailto: leo.albert.96@web.de">leo.albert.96@web.de</a>
</div>