.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
    color: #fff;
    padding: 20px 100px;
    z-index: 10;
}

.home-link {
    color: #fff;
    text-decoration: none;
    transition: all 225ms ease-in-out;

    h1 {
        font-size: 4.37rem;
        margin: 0;
    }
}

.orange-letter {
    color: #fa7902;
}

.header-menu {
    width: 25%;
    display: flex;
    justify-content: space-between;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 1.43rem;
        transition: 225ms ease-in-out;

        &:hover {
            color: #fa7902;
        }
    }
}

.burger-menu {
    display: none;
}


//<---------------------------------------------------- media queries ------------------------------------------------------>

@media screen and (max-width: 900px) {
    .d-none-s {
        display: none;
    }

    .home-link {
        h1 {
            font-size: 2.2 rem;
        }
    }

    .header-content {
        padding: 25px 37px;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        height: 30px;
        width: 30px;
        justify-content: space-between;     
    }
}