.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
    color: #fff;
    padding: 20px 100px;
    z-index: 10;
}

.home-link {
    color: #fff;
    text-decoration: none;
    transition: all 225ms ease-in-out;

    h1 {
        font-size: 4.37rem;
        margin: 0;
    }
}

.orange-letter {
    color: #fa7902;
}

.header-menu {
    width: 25%;
    display: flex;
    justify-content: space-between;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 1.43rem;
        transition: 225ms ease-in-out;

        &:hover {
            color: #fa7902;
        }
    }
}

.burger-menu {
    display: none;
}

.mobile-slide-menu {
    display: none;
}


//<---------------------------------------------------- media queries ------------------------------------------------------>

@media screen and (max-width: 850px) {
    .d-none-s {
        display: none;
    }

    .mobile-slide-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 75px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 20;
        background-color: #414856;
        transition: all 225ms ease-in-out;
        transform: translateX(-844px);
    }

    .show-slide-menu {
        transform: translateX(0);
    }

    .mobile-slide-menu-content {
        display: flex;
        flex-direction: column;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 1.43rem;
            transition: 225ms ease-in-out;
            margin-bottom: 24px;
    
            &:hover {
                color: #fa7902;
            }
        }
    }

    .home-link {
        h1 {
            font-size: 2.5rem;
        }
    }

    .header-content {
        padding: 10px 20px;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        height: 30px;
        width: 30px;
        justify-content: space-between;     
    }
}

@media (min-width: 800px) and (max-width: 1250px) and (min-height:800px){
    .header-menu {
        width: 40%;

        a {
            font-size: 1.43rem;
        }
    }
}