.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
    color: #fff;
    padding: 20px 100px;
}

.home-link {
    color: #fff;
    text-decoration: none;
    transition: all 225ms ease-in-out;

    h1 {
        font-size: 70px;
        margin: 0;
    }
}

.orange-letter {
    color: #fa7902;
}

.header-menu {
    width: 25%;
    display: flex;
    justify-content: space-between;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 23px;
        transition: 225ms ease-in-out;

        &:hover {
            color: #fa7902;
        }
    }
}