<div class="header-content">
    <div class="header-logo">
        <a class="home-link" href="#landingPage"><h1>Le<span class="orange-letter">o</span></h1></a>
    </div>

    <div class="header-menu d-none-s">
        <a href="#aboutMeSection">About me</a>
        <a href="#skillsSection">Skills</a>
        <a href="#portfolioSection">Portfolio</a>
    </div>
    <div class="burger-menu">
        <img src="../assets/img/background-design-elements/burger-menu-line.png">
        <img src="../assets/img/background-design-elements/burger-menu-line.png">
        <img src="../assets/img/background-design-elements/burger-menu-line.png">
    </div>
</div>
