<div class="footer-content">
    <div class="header-and-legal">
        <h1>Leo</h1>
        <a href="#">Impressum</a>
    </div>

    <div class="copyright">
        <h2>&copy; Leonhard Albert 2023</h2>

    </div>

    <div class="social-links">
        <img class="ref-btn" src="../../assets/img/icons_buttons/github-btn.png" alt="">
        <img class="ref-btn" src="../../assets/img/icons_buttons/email-btn.png" alt="">
        <img class="ref-btn" src="../../assets/img/icons_buttons/linkedin-btn.png" alt="">
    </div>
</div>
