<div class="footer-content">
    <img class="shade-footer" src="assets/img/background-design-elements/background-footer.png">
    <div class="footer-container">
        <div class="header-and-legal">
            <h1>Leo</h1>
            <a class="legal-link" routerLink="/legal">Impressum</a>
        </div>
    
        <div class="copyright">
            <h2>&copy; Leonhard Albert 2023</h2>
    
        </div>
    
        <div class="social-links">
            <a href="https://github.com/Hellsticks96" target="_blank"><img class="ref-btn" src="assets/img/icons_buttons/github-btn.png" alt=""></a>
            <a href="mailto: leo.albert.96@web.de"><img class="ref-btn" src="assets/img/icons_buttons/email-btn.png" alt=""></a>
            <a href="https://www.linkedin.com/in/leonhard-albert-672690214/" target="_blank"><img class="ref-btn" src="assets/img/icons_buttons/linkedin-btn.png" alt=""></a>    
        </div>
    </div>
</div>
