<div class="about-me-content">
    <div class="about-me-info">
        <h1>About me</h1>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id deserunt earum fugiat molestiae architecto rem. Unde repellat consequatur dignissimos quidem illum at fuga architecto minus, maxime magni dolore laborum nostrum.</span>
        <div class="personal-info">
            <div class="info-block">
                <img src="../../assets/img/icons_buttons/bulb-orange.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci asperiores, sint commodi, numquam vero nesciunt ratione eveniet beatae vel, rem deleniti nam odit atque possimus repudiandae accusantium. Sed, hic itaque?</p>
            </div>
            <div class="info-block">
                <img src="../../assets/img/icons_buttons/puzzle-piece-orange.png" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam corrupti, porro quis eligendi neque ab ipsum ea autem similique optio architecto quam harum aut dolor, fugiat dicta veniam veritatis nostrum.</p>
            </div>
        </div>
    </div>
    <div class="portrait-content">
        <div class="portrait-frame">
            <div >
                <img class="portrait-bubble" src="../../assets/img/leoalbert/portrait-of-me.png" alt="">
            </div>
            <img class="portrait-line" src="../../assets/img/icons_buttons/line-portrait-pic.png" alt="">
        </div>
    </div>
    <img class="portrait-background" src="../../assets/img/background-design-elements/portrait-background.png" alt="">
</div>
