.about-me-content {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    margin-top: 128px;
    background-color: #141D2F;
    color: #fff;
    display: flex;
    align-items: center;
    z-index: 5;
}


.portrait {
    position: absolute;
    right: 0;
}