.about-me-content {
    position: relative;
    margin-top: 400px;
    width: 100vw;
    max-width: 100%;
    background-color: #141D2F;
    color: #fff;
    display: flex;
    align-items: center;
    z-index: 10;
}

.contrast-arc-blue {
    position: absolute;
    top: -60vh;
    width: 100vw;
    max-width: 100%;
    height: 1078px;
    z-index: 2;
}

.shade-portrait {
    position: absolute;
    right: 0px;
    top: -500px;
    z-index: 3;
}

.text-and-pic-container {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    z-index: 3;
}

.portrait {
    margin-top: 500px;
}

//<------------------------------------------------- media queries ---------------------------------------------------->

@media (max-width: 850px) {

    .about-me-content {
        position: static;
        flex-direction: column;
        margin-top: 0;
    }

    .contrast-arc-blue {
        height: auto;
        top: 60vh;
    }

    .shade-portrait {
        position: absolute;
        right: 0px;
        top: 101vh;
        z-index: 6;
        object-fit: contain;
        width: 30%;
    }

    .text-and-pic-container {
        margin: 0;
    }

    .portrait{
        display: none;
    }
}

@media (max-width: 850px) and (min-height: 850px) {
    .about-me-content {
        position: relative;
        z-index: 5;
    }

    .contrast-arc-blue {
        z-index: 7;
    }
    .shade-portrait {
        width: 30%;
        top: -300px;
        right: -16px;
    }
}

@media (min-width: 900px) and (max-width: 1800px) and (min-height: 950px) {

    .contrast-arc-blue {
        top: -77vh;
    }
}
