.tech-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 16px;

    img {
        transition: all 225ms ease-in-out;
        &:hover {
            transform: translateY(-15px);
        }
    }
}

//<-------------------------------------------- media queries ----------------------------->

@media (max-width: 400px){

    .tech-container {

        img {
            transform: scale(0.8);
        }
    }

}