.title {
    position: absolute;
    top: 35vh;
    left: 49vw;
    color: #fff;
    display: flex;
    height: 200px;
    display: flex;
    align-items: center;
}

.rotated-text {
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
    font-size: 4.1rem;
    font-weight: 400;
    height: 65px;
    width: 150px;
}

.title-straight-text {
    width: 800px;

}

.name-text {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 6.75rem;
}

.dev-text {
    color: #ff4747;
    font-size: 3.625rem;
    font-weight: 400;
    line-height: 4.6rem;
}

//<---------------------------------------------------- media queries ------------------------------------------------------>

@media (max-width: 900px){
    .title {
        width: 100vw;
        top: auto;
        bottom: 75px;
        left: 0;
        z-index: 10;
        height: 100px;
    }

    .rotated-text {
        height: 33px;
    }

    .title-straight-text {
        display: flex;
        flex-direction: column;
    }

    .name-text {
        line-height: 45px;
    }

    .dev-text {
        line-height: 35px;
    }

    .text-s-mobile {
        font-size: 27px;

    }

    .text-l-mobile {
        font-size: 30px;
    }
}