.title {
    position: absolute;
    top: 35vh;
    left: 49vw;
    color: #fff;
    display: flex;
    height: 200px;
    display: flex;
    align-items: center;
}

.rotated-text {
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
    font-size: 3.4em;
    font-weight: 400;
    height: 65px;
    width: 150px;
}

.title-straight-text {
    width: fit-content;
}

.name-text {
    font-size: 4vw;
    font-weight: 700;
    line-height: 5.1rem;
}

.dev-text {
    color: #ff4747;
    font-size: 3.7vw;
    font-weight: 400;
    line-height: 4.6rem;
}

//<---------------------------------------------------- media queries ------------------------------------------------------>

@media (max-width: 850px){
    .title {
        position: static;
        width: 100vw;
        z-index: 10;
        height: 100px;
        display: flex;
        justify-content: center;
    }

    .rotated-text {
        height: 33px;
        width: auto;
    }

    .title-straight-text {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .name-text {
        line-height: 45px;
    }

    .dev-text {
        line-height: 35px;
    }

    .text-s-mobile {
        font-size: 27px;

    }

    .text-l-mobile {
        font-size: 30px;
    }
}

@media (min-width: 800px) and (max-width: 1250px) and (min-height:800px){
    .title-straight-text {
        width: 400px;
    }

    .rotated-text {
        font-size: 2rem;
        height: 0;
        width: 120px;
    }

    .name-text {
        font-size: 2.3rem;
        line-height: normal;
    }

    .dev-text {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
}