.portfolio-content {
    position: relative;
    margin-top: 400px;
}

.portfolio-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;

    h1 {
        font-size: 5.6rem;
        margin: 0 32px;
    }

}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    padding-top: 128px;
}

.projects {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.project-container {
    width: 70%;
    display: flex;
    align-items: center;

    &:nth-child(even){
        flex-direction: row-reverse;
    }

}

.shade-portfolio {
    position: absolute;
    right: 0;
    top: 600px;
    z-index: -1;
}


//<--------------------------------------------- media queries ----------------------------------------->

@media (max-width: 850px){

    .portfolio-content {
        margin-top: 150px;
    }

    .portfolio-header {
        width: 100vw;
        max-width: 100%;
        position: static;

        h1 {
            font-size: 2rem;
        }

        img {
            width: 80px;
            height: 2.8px;
        }
    }

    .portfolio-container {
        position: static;
    }

    .projects {
        width: 100vw;
        max-width: 100%;
        margin-top: 50px;
    }

    .project-container {
        width: 100%;
        max-width: 100vw;
        flex-direction: column;


        &:nth-child(even){
            flex-direction: column;
        }
    }

    .shade-portfolio {
        position: absolute;
        top: 950px;
        object-fit: contain;
        width: 110%;
        z-index: -1;
    }
}

@media (max-width: 850px) and (min-height: 850px){
    .portfolio-header {
        max-width: none;
        position: absolute;
    }

    .project-container {
        width: 100% !important;
    }

    .shade-portfolio {
        top: 1150px;
        width: 90%;
    }
}

@media (min-width: 800px) and (max-width: 1250px) and (min-height:800px){
    .project-container {
        width: auto;
    }
}