.main-img-of-me-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me-img {
    position: absolute;
    margin-top: 35vh;
    height: 110vh;
    width: 60%;
    object-fit: contain;
    z-index: 2;
}

.me-img-background {
    height: 75vh;
    width: 100%;
    object-fit: contain;
}


//<---------------------------------------------------- media queries ------------------------------------------------------>

@media (max-width: 900px){
    .main-img-of-me-container {
        margin-top: 35px;
    }
    .me-img {
        width: 75%;
        margin-top: 25vh;
    }

    .me-img-background {
        height: auto;
        margin-top: 0; 
        transform: scale(1.09); 
    }
}