.main-img-of-me-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me-img {
    position: absolute;
    margin-top: 70vh;
    height: 110vh;
    width: 60%;
    object-fit: contain;
    z-index: 2;
}

.me-img-background {
    margin-top: 100px;
    height: 75vh;
    width: 100%;
    object-fit: contain;
}