<div class="content">
    <img class="shade-portrait" src="../assets/img/background-design-elements/background-portrait.png">
    <img class="shade-skills" src="../assets/img/background-design-elements/background-skills.png">
    <img class="shade-portfolio" src="../assets/img/background-design-elements/background-portfolio.png">
    <img class="shade-footer" src="../assets/img/background-design-elements/background-footer.png">
    <app-header class="header"></app-header>
    <app-landingpage class="landingpage set-width"></app-landingpage>
    <app-about-me class="about-me set-width"></app-about-me>
    <app-my-skills class="my-skills set-width"></app-my-skills>
    <app-portfolio class="portfolio set-width"></app-portfolio>
    <app-contact class="contact set-width"></app-contact>
    <app-footer class="footer set-width"></app-footer>
</div>
