.set-width {
    width: 100vw;
    max-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120;
    z-index: 5;
}

.about-me {
    position: absolute;
    top: 100vh;
}

.my-skills {
    position: absolute;
    top: 200vh;
}

.portfolio {
    position: absolute;
    top: 270vh;
}