.set-width {
    width: 100vw;
    max-width: 100%;
}

.pos-absolute {
    position: absolute;
}

.content {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

.about-me {
    margin-top: -5vh;
}









//<-------------------------------------------------- media queries ----------------------------------------------->

@media (max-width: 850px){
    .my-skills {
        padding-top: 100px;
    }
    
    .pos-absolute {
        position: static;
    }

    .set-margin-mobile {
        margin: 0 16px;
    }

    .hide-mobile {
        display: none;
    }
}

