.set-width {
    width: 100vw;
    max-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}


.about-me {
    position: absolute;
    top: 115vh;
}

.my-skills {
    position: absolute;
    top: 210vh;
    padding-top: 200px;
}

.portfolio {
    position: absolute;
    top: 275vh;
    padding-top: 200px;
}

.contact {
    position: absolute;
    top: 410vh;
}

.footer {
    position: absolute;
    top: 470vh;
}


.shade-portrait {
    position: absolute;
    right: 0px;
    top: 1150px;
    z-index: 6;
}

.shade-skills {
    position: absolute;
    left: 0px;
    top: 3000px;

}

.shade-portfolio {
    position: absolute;
    left: 0px;
    top: 3900px;
}

.shade-footer {
    position: absolute;
    left: -100px;
    top: 5480px;
}


//<-------------------------------------------------- media queries ----------------------------------------------->

@media (max-width: 400px){
    .about-me {
        top: 100vh;
    }
}