<div class="content">
    <img class="shade-portrait" src="assets/img/background-design-elements/background-portrait.png">
    <img class="shade-skills" src="assets/img/background-design-elements/background-skills.png">
    <img class="shade-portfolio" src="assets/img/background-design-elements/background-portfolio.png">
    <img class="shade-footer" src="assets/img/background-design-elements/background-footer.png">
    <app-landingpage class="landingpage set-width" id="landingPage"></app-landingpage>
    <app-about-me class="about-me set-width" id="aboutMeSection"></app-about-me>
    <app-my-skills class="my-skills set-width"  id="skillsSection"></app-my-skills>
    <app-portfolio class="portfolio set-width" id="portfolioSection"></app-portfolio>
    <app-contact class="contact set-width" id="contactSection"></app-contact>
    <app-footer class="footer set-width"></app-footer>
</div>
