.set-width {
    width: 100vw;
    max-width: 100%;
}

.pos-absolute {
    position: absolute;
}

.content {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}


.about-me {
    top: 115vh;
}

.my-skills {
    top: 210vh;
}

.portfolio {
    top: 275vh;

}

.contact {
    top: 410vh;
}

.footer {
    position: absolute;
    top: 470vh;
}









//<-------------------------------------------------- media queries ----------------------------------------------->

@media (max-width: 850px){
    .about-me {
        margin-top: -370px;
    }

    .my-skills {
        padding-top: 100px;
    }
    
    .pos-absolute {
        position: static;
    }

    .set-margin-mobile {
        margin: 0 16px;
    }


    

    

    

}