<div class="about-me-info">
    <h1>About me</h1>
    <span>  Hi! I'm Leo, a Front-End Developer living close to Munich, Germany. <br>
            I started of my working life in sales but after a few years realized that it's not what I want to do.
            My interest in computers has always been in me, even as a kid. So I decided to become a Developer because I love
            the way I can make pretty much anything work with some written lines.
            I'm currently looking to find a position as a junior Front-End Developer using what I learnt to contribute to your projects!</span>
    <div class="personal-info">
        <div class="info-block">
            <img src="assets/img/icons_buttons/bulb-orange.png" alt="">
            <p>My first lines of code? I was 15 but back then didn't recognize the potential and fun coding can be. Learning how to code now, feels like I found my place and I really want to gain experience and expand my knowledge!</p>
        </div>
        <div class="info-block">
            <img src="assets/img/icons_buttons/puzzle-piece-orange.png" alt="">
            <p> Even though sales isn't related to software development, it'll still help me with working at your company.
                As a salesman I had full responsibility for my own time management, customer management and of course I had to make sure customers got their orders delivered in time.
                All of this now makes it easier for me to structure my day in the most efficent way!
            </p>
        </div>
    </div>
</div>
