<div class="my-skills-content">
    <app-contact-btn (click)="scrollToContact()" class="contact-btn-myskills" [btnText]="btnTextSkills" [btnStyle]="btnStyleMySkills" [btnUrl]="contactBtnUrl"></app-contact-btn>
    <div class="technology-container">
        <app-technology class="tech-badge" *ngFor="let tech of technologies; let i = index" [techname]="tech"></app-technology>
    </div>

    <div class="my-skills-text">
        <div class="myskills-header">
            <h1>My skills</h1>
            <img src="assets/img/background-design-elements/my-skills-line.png" alt="">
        </div>
        <p>I used the past 9 months to grow my Front-End Development skills. All the new things I learned allowed me to create variuos projects.</p>
    </div>
   
    <img class="shade-skills" src="assets/img/background-design-elements/background-skills.png">
</div>