<div class="my-skills-content">
    <div class="technology-container">
        <app-technology class="tech-badge" *ngFor="let tech of technologies; let i = index" [techname]="tech"></app-technology>
    </div>

    <div class="my-skills-text">
        <div class="myskills-header">
            <h1>My skills</h1>
            <img src="../../assets/img/background-design-elements/my-skills-line.png" alt="">
        </div>
        <p>I have grown my frontent developent skills, that have allowed me to create various projects.</p>
    </div>
</div>

<app-contact-btn class="contact-btn-myskills" [btnText]="btnTextSkills" [btnStyle]="btnStyleMySkills"></app-contact-btn>
