.my-skills-content {
    display: flex;
}

.technology-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 40%;
    height: 40vh;
}

.tech-badge {
    height: 120px;
}