.project-container {
    display: flex;
    align-items: center;

    h2 {
        color: #ff4747;
    }
}

.tech-info {
    display: flex;
    color: #fa7902;

    div {
        margin-right: 8px;
    }
}

.btn-container {
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
}


//<-------------------------------------------- media queries -------------------------------------------->

@media (max-width: 850px){
    .project-container {
        width: 100vw;
        max-width: 100%;

        img {
            max-width: 100%;
        }
    }
}
