.contact-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
    width: 200px;
    height: 60px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #fa7902;
    border: none;
    margin: 0 auto;
    transition: all 225ms ease-in-out;
  
    &:hover {
      transform: scale(1.2);
      background-color: #ff4747;
    }
  }

  .test-btn {
    z-index: 5;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
    width: 185px;
    height: 60px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #ff4747;
    border: none;
    margin: 0 auto;
    transition: all 225ms ease-in-out;

    &:hover {
      background-color: #fa7902;
    }
  }

  .git-btn {
    z-index: 5;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
    width: 185px;
    height: 60px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #fa7902;
    margin: 0 auto;
    transition: all 225ms ease-in-out;

    &:hover {
      background-color: #fa7902;
    }
  }

  //<---------------------------------------------------- media queries ------------------------------------------------------>

  @media (max-width: 850px){
    .contact-btn {
      width: 170px;
      height: 50px;
      font-size: 1rem;
    }

    .test-btn,
    .git-btn {
      transform: scale(0.8);
    }
  }