.scroll-down-container {
    position: absolute;
    bottom: 96px;
    right: 16px;
    z-index: 5;
    height: 30px;
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    color: #fff;

    img {
        object-fit: contain;
        height: 18px;
        width: 18px;
        transform: rotate(-90deg);
    }
}

.scroll-down-text {
    font-size: 23px;
    line-height: 27.6px;
    font-weight: 400;
    width: 135px;
    margin-right: 8px;
}